<section class="orders">
  <div class="orders__container">
    <h2 class="orders__title desc-title">@@title</h2>

    <table class="orders__table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#11235</td>
          <td>5 Mar, 2025</td>
          <td>$100</td>
          <td><button class="btn-view">View</button></td>
        </tr>
        <tr>
          <td>#11235</td>
          <td>5 Mar, 2025</td>
          <td>$100</td>
          <td><button class="btn-view">View</button></td>
        </tr>
        <tr>
          <td>#11235</td>
          <td>5 Mar, 2025</td>
          <td>$100</td>
          <td><button class="btn-view">View</button></td>
        </tr>
        <tr>
          <td>#11235</td>
          <td>5 Mar, 2025</td>
          <td>$100</td>
          <td><button class="btn-view">View</button></td>
        </tr>
        <tr>
          <td>#11235</td>
          <td>5 Mar, 2025</td>
          <td>$100</td>
          <td><button class="btn-view">View</button></td>
        </tr>
        <tr>
          <td>#11235</td>
          <td>5 Mar, 2025</td>
          <td>$100</td>
          <td><button class="btn-view">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
