<div class="product-item">
    <div class="discount-badge">
        <span class="discount-btn">Save 15%</span>
    </div>
    <img src="assets/img/arrival/1.png" alt="">
    <div class="product-item-content">
        <h4 class="content-title">Printer</h4>
        <p class="content-subtitle">Sterio Sound with ANC</p>
        <span class="price">Tk 22500</span>
        <div class="add-to-cart-btn">
            <button><iconify-icon icon="mdi:cart-outline"></iconify-icon>Add</button>
        </div>
    </div>
</div>