<!-- ==================== Footer Start Here ==================== -->
<footer class="footer-area">
	<div class="pb-60 pt-100">
		<div class="container">
			<div class="row justify-content-center gy-xl-5 gy-md-4 gy-sm-3">
				<div class="col-xl-4 col-md-6 col-sm-6">
					<div class="footer-item">
						<div class="footer-item__logo">
							<a href="index.html"> <img src="assets/img/footer/logo.png" alt="footer logo"></a>
						</div>
						<p class="footer-item__desc">Trilogy Soft delivers innovative software solutions <br> to help businesses grow and succeed. Partner with <br> us to transform your ideas into reality.</p>
						<ul class="social-list">
							<li class="social-list__item"><a href="https://www.facebook.com/" class="social-list__link flex-center"><i
										class="fab fa-facebook-f"></i></a> </li>
							<li class="social-list__item"><a href="https://www.twitter.com"
									class="social-list__link flex-center active"> <i class="fab fa-twitter"></i></a>
							</li>
							<li class="social-list__item"><a href="https://www.linkedin.com" class="social-list__link flex-center"> <i
										class="fab fa-linkedin-in"></i></a></li>
							<li class="social-list__item"><a href="https://www.pinterest.com" class="social-list__link flex-center">
									<i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-md-6 col-sm-6">
					<div class="footer-item">
						<h5 class="footer-item__title">Userful Link</h5>
						<ul class="footer-menu">
							<li class="footer-menu__item"><a href="index.html" class="footer-menu__link">Home</a></li>
							<li class="footer-menu__item"><a href="about.html" class="footer-menu__link">About</a></li>
							<li class="footer-menu__item"><a href="contact.html" class="footer-menu__link">Contact</a></li>
							<li class="footer-menu__item"><a href="faq.html" class="footer-menu__link">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-md-6 col-sm-6">
					<div class="footer-item">
						<h5 class="footer-item__title">Categories</h5>
						<ul class="footer-menu">
							<li class="footer-menu__item"><a href="service-details.html" class="footer-menu__link">Service Details</a></li>
							<li class="footer-menu__item"><a href="contact.html" class="footer-menu__link"> Contact Us</a></li>
							<li class="footer-menu__item"><a href="#" class="footer-menu__link">Dashboard </a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-sm-6">
					<div class="footer-item">
						<h5 class="footer-item__title">Contact With Us</h5>
						<ul class="footer-contact-menu">
							<li class="footer-contact-menu__item">
								<div class="footer-contact-menu__item-icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="footer-contact-menu__item-content">
									<a class="footer-style-link" href="#" target="_blank">Samsun Cottage, 16/13, B1, Babar Rd, <br> Shyamoli, Mohammadpur, Dhaka 1207</a>
								</div>
							</li>
							<li class="footer-contact-menu__item">
								<div class="footer-contact-menu__item-icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="footer-contact-menu__item-content">
									<a class="footer-style-link" href="mailto:info@trilogysoft.com">info@trilogysoft.com</a>
								</div>
							</li>
							<li class="footer-contact-menu__item">
								<div class="footer-contact-menu__item-icon">
									<i class="fas fa-phone"></i>
								</div>
								<div class="footer-contact-menu__item-content">
									<a class="footer-style-link" href="tel:+1234567890">+8801633199751</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top End-->

	<!-- bottom Footer -->
	<div class="bottom-footer py-3">
		<div class="container">
			<div class="row gy-3">
				<div class="col-md-12 text-center">
					<div class="bottom-footer-text text-white"> &copy; Copyright 2025 . All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- ==================== Footer End Here ==================== -->