@use '../utils/' as *;

:root {
  --slider-padding: 40px;
  --border-radius: 12px;
}

.header-item {
  color: var(--heading-color) !important;
  font-family: var(--body-font);
  font-size: 16px !important;
  font-weight: 400;
}

.section-gap {
  margin-bottom: 48px;

  @include msm-screen {
    margin-bottom: 35px;
  }

  @include xsm-screen {
    margin-bottom: 25px;
  }
}

.section-spacing {
  margin-top: 83px;
  padding: 96px 0;

  @include sm-screen {
    padding: 60px 0;
  }

  @include msm-screen {
    padding: 40px 0;
  }
}

.section-title {
  font-size: 36px;
  color: rgb(var(--heading-color));

  @include sm-screen {
    text-align: center;
  }

  @include mobile-screen {
    font-size: 30px;
  }
}

@include lg-screen {
  .mb-lg-48 {
    margin-bottom: 48px;
  }
}

.mb-24 {
  margin-bottom: 24px;
}
.mb-sm-24 {
  @include sm-screen {
    margin-bottom: 24px;
  }
}
.box-padding {
  border-radius: 12px;
  padding: 40px 24px;
}

.section-box {
  padding: var(--slider-padding);
  background: rgb(var(--white));
  border-radius: var(--border-radius);

  @include mobile-screen {
    padding: 30px;
  }
}

.content-title {
  color: rgb(var(--heading-color));
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}

.content-subtitle {
  margin: 16px 0;
  line-height: 160%;
}

.price-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.price {
  color: rgb(var(--theme-color-2));
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}



.add-to-cart-btn {
  margin-top: 16px;

  button {
    padding: 16px 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(var(--white));
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    border-radius: 4px;
    background: rgb(var(--theme-color));

    @include mobile-screen {
      font-size: 14px;
    }

    iconify-icon {
      font-size: 22px;
    }

    @include xl-screen {
      padding: 12px;
    }
  }
}

.price {
  color: rgb(var(--heading-color));
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
}

.last-item {
  margin-bottom: 0px !important;

  @include lg-screen {
    margin-bottom: 24px !important;
  }
}

.desc-title {
  margin-bottom: 20px;
  color: rgb(var(--heading-color));
  font-size: 28px;
  font-weight: 600;

  @include xl-screen {
    font-size: 26px;
  }

  @include sm-screen {
    font-size: 22px;
  }

  @include msm-screen {
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 10px;
  }

}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(var(--theme-color));
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(var(--theme-color));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* perfectly center */
}

.discount-badge {
  text-align: right;

  .discount-btn {
    border-radius: 12px 0;
    color: #FFF;
    padding: 10px;
    background: rgb(var(--theme-color-2));
  }
}


@media (min-width: 1700px) {

  .container,
  .container-xxl {
    max-width: 1620px;
  }
}

.d-none-xl {
  @include xl-screen {
    display: none !important;
  }
}

.d-none-lg {
  @include lg-screen {
    display: none !important;
  }
}

.d-none-md {
  @include md-screen {
    display: none !important;
  }
}

.d-none-sm {
  @include sm-screen {
    display: none !important;
  }
}

.d-none-msm {
  @include msm-screen {
    display: none;
  }
}

.mb-msm-4 {
  @include msm-screen {
    margin-bottom: 1.5rem !important;
  }
}

.mt-msm-4 {
  @include msm-screen {
    margin-top: 1.5rem !important;
  }
}

.custom-screen {
  @include custom-screen {
    display: none;
  }
}