 @use '../utils/' as *;

 .dashboard-sideNav {
     padding: 40px 24px;
     background: #fff;
     border-radius: 10px;

     .nav {
         gap: 8px;

         .custom-nav-item {
             .custom-nav-link {
                 padding: 12px;
                 display: inline-flex;
                 gap: 8px;
                 align-items: center;
                 color: rgb(var(--heading-color));
                 font-size: 15px;
                 font-weight: 400;
             }
             &.active {
                 border-radius: 4px;
                 background: #F5F5F5;
             }
             &:hover {
                border-radius: 4px;
                 background: #F5F5F5;
             }

         }
     }
 }