   .product-item {
       margin: 10px;
       border-radius: 12px;
       background: #FFF;
       border: 1px solid #D5DFE6;
       padding: 24px;
       .product-item-content {
           margin-top: 20px;
           text-align: center;
       }
   }