@use '../utils/' as *;

.slick-slider {
    margin-top: 22px;
    position: relative;
    @include sm-screen { 
      
    }
    .slick-prev,
    .slick-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 8px;
        width: 30px;
        height: 30px;
        color: #000;
        border-radius: 50%;
        border: 1px solid #7E7E7E !important;

        @include sm-screen {
            border: none !important;
        }

        iconify-icon {
            font-size: 24px;
            color: rgb(var(--body-color));

            @include sm-screen {
                font-size: 18px;
            }

            &:hover {
                color: rgb(var(--white));
            }

            &:active {
                color: rgb(var(--white));
            }
        }

        &:hover {
            border: none !important;
            border-radius: 50%;
            background: rgb(var(--heading-color));
            color: rgb(var(--white));
        }

        &:active {
            border: none !important;
            border-radius: 50%;
            background: rgb(var(--heading-color));
            color: rgb(var(--white));
        }
    }

    .slick-prev {
        top: -58px;
        right: 62px;
        @include sm-screen {
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
        @include mobile-screen {
            left: -23px;
        }

    }

    .slick-next {
        top: -58px;
        right: 20px;

        @include sm-screen {
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
        @include mobile-screen {
            right: -23px;
        }
    }

    iconify-icon {
        font-size: 30px;
    }
    .slick-slide {
        margin: 10px !important;
        @include mobile-screen {
            
        }
        img {
            margin: 0 auto;
        }
    }
}


