@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    // --font-flaticon: "flaticon"; 
    --heading-font: "Raleway", sans-serif;
    --body-font: "Inter", sans-serif;
}