@use '../utils/' as *;

.hero-section {
    margin-top: 84px;

    .hero-section-wrapper {
        @include sm-screen {
            padding: 42px 0px 30px 0px;
        }
        .hero-content {
            text-align: center;
            .hero-subtitle {
                span {
                    color: rgb(var(--heading-color));
                    font-family: var(--heading-font);
                    font-size: 28px;
                    font-weight: 600;

                    @include sm-screen {
                        font-size: 26px;
                        line-height: normal;
                    }
                    @include mobile-screen {
                        font-size: 24px;
                    }
                }


                p {
                    color: rgb(var(--theme-color));
                    font-family: var(--body-font);
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1.92px;

                    @include sm-screen {
                        line-height: normal;
                        letter-spacing: 1.6px;
                    }
                    @include mobile-screen {
                        font-size: 14px;
                    }
                }
            }
            .btn-shop {
                padding: 14px 42px;
                display: inline-block;
                background: rgb(var(--theme-color));
                color: rgb(var(--white));
                text-align: center;
                font-family: var(--body-font);
                font-size: 16px;
                font-weight: 600;
                border-radius: 4px;

                @include sm-screen {
                    padding: 10px 50px;
                }
                @include mobile-screen {
                    font-size: 14px;
                }
            }

            .hero-title {
                font-size: 60px;
                font-weight: 600;
                color: rgb(var(--heading-color));
                margin-top: 5px;
                margin-bottom: 30px;
                line-height: 100%;
                @include md-screen {
                    font-size: 42px;
                }

                @include mobile-screen {
                    font-size: 36px;
                }
            }
        }
    }
}