@use 'utils' as *;

.product-area {
    .product {
        background: rgb(var(--white));
        border-radius: var(--section-border-radius);
        border-radius: var(--border-radius);

        .product-header {
            margin-bottom: 42px;
        }

        .product-slider {
            margin: 0 -10px;

            .product-item {
                margin: 10px 0;
                padding: 16px;
                border-radius: 12px;
                background: rgb(var(--white));
                border: 1px solid #D5DFE6;

                .product-img {
                    margin-bottom: 20px;
                    text-align: center;
                }

                .product-content {
                    .price-content {
                        .cart-btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: rgb(var(--theme-color));
                            color: rgb(var(--white));

                            iconify-icon {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

    }
}