@use '../utils/' as *;
.why-choose {
    &__wrapper {
        .section-title {
            margin-bottom: 32px;
        }
    }

    &__item {
        padding: 32px;
        border-radius: 12px;
        border: 1px solid #D5DFE6;
        @include lg-screen {
            padding: 20px;
        }

        @include sm-screen {
            text-align: center;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        gap: 20px;
        @include lg-screen {
            display: grid;
        }
    }

    &__icon {}
}