@use '../utils/' as *;

.footer-area {
    background: rgb(var(--white));

    .footer-body {
        padding: 48px 0;

        .footer-logo {
            margin-bottom: 16px;

            @include msm-screen {
                margin-bottom: 35px;
            }

            a {
                img {
                    // max-width: 100px;
                }
            }
        }

        .footer-list {
            li {
                margin-bottom: 16px;



                @include sm-screen {
                    text-align: center;
                }

                p {
                    text-align: left;
                }

                .footer-link {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    color: rgb(var(--body-color));
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                }
            }
        }

        .desc-title {
            display: flex;
            justify-content: space-between;
            @include msm-screen {
                font-size: 18px;
            }
        }

        .footer-subcription {


            @include msm-screen {
                margin-top: 0 !important;
            }

            .footer-social-icons {
                display: flex;
                gap: 16px;
                margin-bottom: 16px;

                .footer-social-icon {
                    color: #1D1D1D !important;

                    i {}
                }
            }

            .footer-newsletter {
                position: relative;
                display: flex;
                align-items: center;

                .custom-form-control {

                    padding: 8px 8px 8px 44px;
                    box-shadow: none !important;
                    border-radius: 36px;
                    border: 1px solid #D5DFE6;


                    &::placeholder {
                        color: rgba(29, 29, 29, 0.65);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                    }
                }

                &__envelop {
                    position: absolute;
                    left: 20px;
                }

                .newsletter-btn {
                    border-radius: 4px;
                    display: flex;
                    position: absolute;
                    right: 8px;
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                    border-radius: 36px;
                    background: rgb(var(--body-color));
                }
            }
        }
    }

    .footer-bottom {
        padding: 16px 0;
        border-top: 1px solid #D5DFE6;

        &__text {

            color: rgb(var(--body-color));
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 12px;

            @include msm-screen {
                font-size: 14px;
            }

            span {
                color: rgb(var(--theme-color));
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}