  @use '../utils/' as *;

  .dashboard-area {
      margin-top: 83px;

      .dashboard-content {
          padding: 96px 0;
          border-radius: 10px;

          .widget-box {
              padding: 48px 24px;
              margin-bottom: 48px;
              display: grid;
              gap: 24px;
              border-radius: 12px;
              background: #fff;
              grid-template-columns: repeat(3, 1fr);
              .widget {
                  padding: 76px 48px;
                  text-align: center;
                  border-radius: 12px;
                  .desc-title {
                    line-height: 20px;
                      color: #FFF;
                      margin-bottom: 16px;
                  }

                  p {
                      line-height: 12px;
                      color: #fff;
                  }

                  &:first-child {
                      background: #0062A2;
                  }

                  &:nth-child(2) {
                      background: #6B7B3E;
                  }

                  &:nth-child(3) {
                      background: #00582F;
                  }

                  &:nth-child(4) {
                      background: #FDC040;
                  }

                  &:nth-child(5) {
                      background: #3BB77E;
                  }

                  &:last-child {
                      background: #FF3F3F;
                  }
              }
          }

          .cart-table {
              margin-bottom: 0px;
          }
      }
  }