@use '../utils/' as *;

.product-details {
    background: rgb(var(--body-bg));
    margin-top: 87px;

    &__single-product {
        margin-bottom: 24px;

        .product-gallary {
            .main-slider {
                border-radius: 4px;
                margin-top: 0px;
                padding: 24px 24px 0 24px;
                background: #D5DFE6;
            }

            .thumb-slider {
                margin-top: 24px !important;
                margin: 0px;

                .slick-list {
                    .slick-track {
                        display: flex;

                        .slick-slide {
                            margin: 0;
                            margin-right: 16px;

                            &:last-child {
                                margin-right: 0px;
                            }

                            img {
                                width: 100%;
                                margin: 0px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .product-info {
            @include md-screen {
                margin-top: 30px;
            }

            .product-heading {
                color: rgb(var(--heading-color));
                font-size: 28px;
                font-weight: 600;

                @include sm-screen {
                    margin: 10px 0;
                    font-size: 26px;
                }
                @include mobile-screen {
                    font-size: 22px;
                }
            }

            &__desc {
                margin: 14px 0;
                color: rgb(var(--body-color));
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
            }

            &__price {
                color: rgb(var(--heading-color));
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
            }

            &__stock {
                margin-bottom: 14px;
                display: flex;
                align-items: center;
                color: rgb(var(--heading-color));
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;

                &-circle {
                    margin-left: 12px;
                    margin-right: 8px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: rgb(var(--heading-color));

                    &:before {
                        position: absolute;
                        content: '';
                        width: 12px;
                        height: 12px;
                        border: 1px solid #000;
                        border-radius: 50%;
                    }
                }

                span {
                    color: rgb(var(--body-color));
                }
            }

            &__size-text {
                color: rgb(var(--heading-color));
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
            }

            &__size-btns {
                margin-top: 8px;
                margin-bottom: 14px;
                display: flex;
                gap: 16px;

                button {
                    padding: 12px 16px;
                    color: rgb(var(--heading-color));
                    background: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                    border-radius: 24px;
                }
            }

            &__quantity {
                color: rgb(var(--heading-color));
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
            }

            &__quantity-control {
                margin: 16px 0;
                display: inline-flex;
                gap: 16px;

                @include xsm-screen {
                    flex-direction: column;
                }

                &--btn {
                    display: inline-flex;
                    align-items: center;
                    padding: 8px;
                    border-radius: 4px;
                    background: rgb(var(--border-color));

                    .decrease,
                    .increase {
                        height: 28px;
                        width: 28px;
                        background: #fff;
                        border-radius: 4px;
                    }

                }

                .buy-now {
                    &--btn {
                        display: inline-block;
                        padding: 16px 72px;
                        border-radius: 4px;
                        line-height: 12px;
                        border: 1px solid #302f2f !important;
                    }
                }
            }

            &__cart-btn {
                .add-to-cart {
                    display: inline-flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 12px;
                    color: #fff;
                    border-radius: 4px;
                    padding: 16px 144px;
                    background: rgb(var(--theme-color));

                    @include xsm-screen {
                        padding: 16px 77px;
                    }
                }
            }

            &__social-icon {
                font-size: 16px;
                font-weight: 400;
                margin: 20px 0;
                display: flex;
                gap: 8px;

                iconify-icon {
                    margin-right: 8px;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            &__para {
                margin: 20px 0;
            }

            &__suk {
                margin: 20px 0;
            }

            &__payment-icon {
                .list {
                    display: flex;
                    gap: 16px;
                }
            }
        }
    }

    &__content {
        border-radius: var(--border-radius);
        background: rgb(var(--white));
        padding: 48px 24px;

        @include lg-screen {
            padding: 35px 24px;
        }

        .product-description {
            display: grid;
            gap: 38px;

            @include xl-screen {
                gap: 35px;
            }

            @include sm-screen {
                gap: 15px;
            }

            &__item {
                .desc-title {
                    margin-bottom: 10px;
                }
            }





            &__para {}

        }

    }

    &__content-nav {


        @include sm-screen {
            margin-bottom: 20px;
        }

        @include msm-screen {}

        .list {
            display: flex;
            gap: 8px;
            justify-content: center;

            @include sm-screen {
                justify-content: flex-start;
            }
        }

        &--item {}

        &--link {
            display: inline-block;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid rgb(var(--body-color));

            @include msm-screen {
                font-size: 14px;
            }

            &:hover {
                border: 1px solid rgb(var(--theme-color));
            }

            &.active {
                border: 1px solid rgb(var(--theme-color));
            }
        }
    }

    .product-reviews {
        padding: 48px 24px;
        margin-top: 36px;
        background: #fff;
        border-radius: var(--border-radius);
        @include sm-screen {
            padding: 35px 24px;
        }

        &__top {
            .rating-box {
                position: relative;
                display: flex;

                @include md-screen {
                    gap: 22px;
                    flex-direction: column;
                }


                .rating-left {
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    padding-right: 48px;
                    border-right: 1px solid rgb(var(--border-color));

                    @include four-xl-screen {
                        padding-right: 30px;
                    }

                    @include md-screen {
                        border-right: none;
                        padding-right: 0px;
                    }

                    .circle-progress {
                        position: relative;
                        width: 84px;
                        height: 84px;
                        border-radius: 50%;
                        background: #D5DFE6;
                        overflow: hidden;
                    }

                    .circle-progress::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background: orange;
                        clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 50% 100%);
                        transform-origin: center;
                        transform: rotate(162deg);
                    }

                    .circle-center {
                        font-family: var(--heading-font);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #fff;
                        width: 73px;
                        height: 73px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #0B0F0E;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 160%;
                    }

                    .stars {
                        color: orange;
                        font-size: 18px;
                    }

                    &__text {
                        color: rgb(var(--heading-color));
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                    }
                }

                .rating-right {
                    display: grid;
                    gap: 12px;
                    flex: 1;
                    padding: 0 48px;
                    border-right: 1px solid rgb(var(--border-color));

                    @include four-xl-screen {
                        padding: 0 30px;
                    }

                    @include md-screen {
                        padding-left: 0px;
                        padding-right: 0px;
                        border-right: none;
                    }

                    .rating-row {
                        display: flex;
                        align-items: center;
                    }

                    .rating-label {
                        width: 40px;
                        display: flex;
                        gap: 4px;
                        align-items: center;
                        color: #0B0F0E;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 160%;

                        iconify-icon {
                            font-size: 16px;
                        }
                    }

                    .rating-label span {
                        color: orange;
                        font-size: 16px;
                        margin-left: 2px;
                    }

                    .rating-bar {
                        margin-left: 12px !important;
                        margin-right: 12px !important;
                        flex: 1;
                        height: 8px;
                        background: #e9edf1;
                        margin: 0 10px;
                        border-radius: 4px;
                        overflow: hidden;
                    }

                    .rating-bar-fill {
                        border-radius: 22px;
                        height: 100%;
                        background: rgb(var(--heading-color));
                    }

                    .rating-count {
                        color: #0B0F0E;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 160%;
                    }
                }


                .write-review {
                    padding-left: 48px;

                    @include four-xl-screen {
                        padding-left: 30px;
                    }

                    @include md-screen {
                        padding-left: 0px;
                    }

                    &__para {}

                    &__form {}

                    &__text-area {
                        padding-top: 5px;
                        padding-left: 5px;
                        margin: 15px 0;
                        height: 90px;
                        border-radius: 5px;
                        border: 1px solid rgb(var(--border-color));
                    }

                    &__btn {
                        input[type="submit"] {
                            padding: 16px 24px;
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 12px;
                            border-radius: 4px;
                            background: rgb(var(--heading-color));
                        }
                    }
                }
            }

            &-comment {
                margin-top: 42px;

                .reviews {


                    .reviews-sort {
                        margin-bottom: 24px;
                        @include sm-screen {
                            margin-bottom: 20px;
                        }
                    }

                    &__select {
                        border: none;
                        color: rgb(var(--heading-color));
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;

                        &:focus {
                            outline: none;
                        }
                    }

                    &__item {
                        margin-bottom: 24px;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        .review-header {
                            margin-bottom: 16px;

                            .review-name {
                                color: rgb(var(--heading-color));
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 160%;
                            }
                        }

                        .review-text {
                            margin-top: 20px;
                            color: rgb(var(--body-color));
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 160%;
                            @include sm-screen {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}