.cart-area {
    margin-top: 100px;

    .shopping-cart {
        margin-bottom: 150px;


        .cart-container {
            display: grid;
            gap: 30px;
            margin-bottom: 50px;
            padding: 30px;
            background-color: rgb(var(--white));
            border-radius: 15px;

            .cart-row {
                display: flex;
                justify-content: space-between;

                .cart-details {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img {
                        border-radius: 10px;
                        border: 1px solid rgb(var(--border-color));
                    }
                }

                .quantity {
                    .cart-col {
                        text-align: center;


                    }

                    .quantity-button {
                        display: flex;
                        height: 28px;
                        background: #f7f5f5;

                        .minus {
                            width: 28px;
                            height: 28px;
                            border-radius: 5px;
                            background: #E2E2E2;
                        }

                        .input-box {
                            text-align: center;
                            border: none;
                            background: transparent;
                        }

                        .number {
                            background: #F2F2F2;
                        }

                        .plus {
                            width: 28px;
                            height: 28px;
                            border-radius: 5px;
                            background: #E2E2E2;
                        }
                    }
                }

                .cart-col {
                    margin-bottom: 30px;
                    color: #343434;
                    font-size: 16px;
                    font-weight: 500;

                }

                .product-details {
                    display: flex;
                    gap: 20px;
                }

                .action {
                    text-align: center;

                }
            }
        }

        form {
            .shipping-address {
                padding: 30px;
                border-radius: 15px;
                background-color: #fff;

                h5 {
                    margin-bottom: 20px;
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 120%;
                }


                .options {
                    margin-bottom: 28px;
                    display: flex;
                    gap: 50px;


                    .option-one {
                        display: flex;
                        gap: 20px;
                        align-items: center;


                    }

                    .option-two {
                        display: flex;
                        gap: 20px;
                        align-items: center;

                    }
                }

                .shipping-customer-info {
                    .shipping-customer-item {
                        display: flex;
                        gap: 40px;

                        .item {
                            margin-bottom: 25px;
                            width: 50%;

                            input {
                                padding-left: 10px;
                                width: 100%;
                                height: 50px;
                                border-radius: 4px;
                                border: 1px solid #9FA3AF;
                            }

                            label {
                                margin-bottom: 8px;
                                display: block;
                                color: #1D1D1D;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 120%;
                            }

                        }

                    }

                    .address {
                        margin-bottom: 25px;

                        label {
                            margin-bottom: 8px;
                            display: block;
                            color: #1D1D1D;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 120%;
                        }

                        input {
                            width: 100%;
                            height: 50px;
                            border-radius: 4px;
                            border: 1px solid #9FA3AF;
                        }
                    }

                }
            }

            .shopping-order-btn {
                margin: 55px 0;
                display: flex;
                justify-content: center;

                .shopping-btn {
                    padding: 18px 26px;
                    color: rgb(var(--white));
                    border-radius: 4px;
                    background: rgb(var(--heading-color));
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                    .angle-left {
                        margin-right: 2px;
                    }
                }

                span {
                    margin: 0 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .order-btn {
                padding: 18px 24px;
                color: #FFF;
                border-radius: 4px;
                background: rgb(var(--heading-color));
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;

                .angle-right {
                    margin-left: 2px;
                }
            }
        }
    }

    .box {
        margin-bottom: 24px;
        padding: 48px 24px;
        background: rgb(var(--white));
        &:last-child {
            margin-bottom: 0px;
        }
    }

    .order-summary {
        border-radius: 12px;

        .order-summary__title {
            margin-bottom: 25px;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: 120%;
        }

        .promo-section {
            gap: 10px;

            .promo-Code {
                color: #757575;
                font-size: 14px;
                font-weight: 500;
            }

            input {
                width: 180px;
                height: 40px;
                padding: 4px 10px;
                border-radius: 5px;
                border: 1px solid #ADADAD;

                &:focus {
                    border-color: #aaa;
                }

            }
        }

        .summary-item {
            padding: 6px 0;

            .order-summary__label {
                color: #757575;
                font-size: 14px;
                font-weight: 500;
            }

            .order-summary__value {
                color: #000;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        hr {
            color: #B9B9B9;
        }
    }

    .payment-method {
        padding: 30px;



        .title {
            margin-bottom: 20px;
        }


        .payment-method-address {
            .payment-method-item {
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                padding: 12px 16px;
                border-radius: 4px;

                &:last-child {
                    margin-bottom: 0px;
                }

                .payment-method-details {
                    display: flex;
                    gap: 8px;

                    .payment-method-content {
                        &__title {
                            display: block;
                            margin-bottom: 16px;
                            color: rgb(var(--heading-color));
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 14px;
                        }

                        &__desc {
                            line-height: 12px;
                        }
                    }
                }

                .payment-price {
                    display: flex;
                    align-items: center;

                    span {
                        color: rgb(var(--heading-color));
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 160%;
                    }
                }
            }
        }

        .payment-card {
            margin: 25px 0;
            gap: 30px;
            // @include respond ('xsm') {
            //     gap: 10px;
            // }

            .payment-card-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 50px;
                border-radius: 5px;
                border: 0.5px solid rgba(13, 20, 28, 0.50);
            }
        }

        .payment-info {
            .payment-info-item {
                label {
                    display: block;
                    color: #1D1D1D;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 120%;
                }

                input {
                    width: 100%;
                    margin: 10px 0;
                    padding: 16px;
                    border-radius: 4px;
                    border: 1px solid #9FA3AF;
                }
            }
        }


        .payment-delivery {
            display: grid;
            gap: 8px;

            .payment-option {
                display: flex;
                gap: 8px;
                align-items: center;
                label {
                   
                }
            }
        }
    }


}